<!-- geoworkflow/templates/geoworkflow/all_bagregistraties.html -->

{% extends 'base.html' %}

{% block title %}
  {{ title|title }}
{% endblock title %}

{% block content %}
  {% include 'includes/breadcrumb.html' %}
  <div class="container">
    {% if user.is_authenticated %}
      <a href="{% url 'geoworkflow:add-bagregistratie' %}" class="btn btn-secondary">Add BAGregistratie</a>
    {% else %}
      <a href="{% url 'geoworkflow:add-bagregistratie' %}">Login</a> to add a BAGregistratie.</a>
    {% endif %}
    <br>
    <table class="table table-striped table-sm table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Gemeente</th>
          <th scope="col">besluit</th>
          <th scope="col">datum besluit</th>
          <th scope="col">datum ontvangst</th>
          <th scope="col">volledig ontvangen</th>
          <th scope="col">juist aangeleverd</th>
          <th scope="col">straat</th>
          <th scope="col">Objecttype</th>
          <th scope="col">Gebeurtenis</th>
          <th scope="col">Notities</th>
          <th scope="col">type van<br>laatste notitie</th>
        </tr>
      </thead>
      <tbody>
        {% if bagregistraties %}
         {% for bagregistratie in bagregistraties %}
        
            <tr>
              <td> {{ bagregistratie.gemeente }}</td>
              <th scope="row"><a href="{{ bagregistratie.get_absolute_url }}">{{ bagregistratie.besluit }}</a></th>
              <td> {{ bagregistratie.datum_besluit }}</td>
              <td> {{ bagregistratie.datum_ontvangst }}</td>
              <td> {% include 'includes/vink_kruis.html' with bool_var=bagregistratie.volledig_ontvangen %}</td>
              <td> {% include 'includes/vink_kruis.html' with bool_var=bagregistratie.juist_aangeleverd %}</td>
              <td> {{ bagregistratie.straat }}</td>
              <td> {{ bagregistratie.bagobjecttype }}</td>
              <td> {{ bagregistratie.baggebeurtenis }}</td> 
              <td> {{ bagregistratie.notities.all|length }}</td>
              <td> {{ bagregistratie.notities.last.type }}</td>
            </tr>
          {% endfor %}  
        {% endif %}
      </tbody>
    </table>
    {% include 'includes/pagina_nav.html' %}
  </div>
{% endblock content %}