<!-- geoworkflow/templates/geoworkflow/index.html -->

{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title|title }}{% endblock title %}

{% block css_files %}
{% endblock css_files%}

{% block content %}
  {% include 'includes/breadcrumb.html' %}
  <div class="container">
    <div class="row mt-4">
      <div class="card">
        <div class="card-header bg-info text-white">
          Geo workflow beheer
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 mb-4">
              <a class="text-decoration-none text-dark" href="#">
                <div class="card my-card shadow text-center p-3">
                  <h4>BAG <i class="fas fa-globe"></i></h4>
                </div>
              </a>
            </div>
            <div class="col-md-4 mb-4">
              <a class="text-decoration-none text-dark" href="#">
                <div class="card my-card shadow text-center p-3">
                  <h4>WOZ <i class="fas fa-clone"></i></h4>
                </div>
              </a>
            </div>
            <div class="col-md-4 mb-4">
              <a class="text-decoration-none text-dark" href="#">
                <div class="card my-card shadow text-center p-3">
                  <h4>BGT <i class="fas fa-certificate"></i></h4>
                </div>
              </a>
            </div>
            <div class="col-md-4 mb-4">
              <a class="text-decoration-none text-dark" href="#">
                <div class="card my-card shadow text-center p-3">
                  <h4>Geo <i class="fas fa-server"></i></h4>
                </div>
              </a>
            </div>
            <div class="col-md-4 mb-4">
              <a class="text-decoration-none text-dark" href="#">
                <div class="card my-card shadow text-center p-3">
                  <h4> <i class="fas fa-user-friends"></i></h4>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
{% endblock content %}
