<!-- geoworkflow/templates/geoworkflow/show_bagregistratie.html -->

{% extends 'base.html' %}

{% block title %}
  {{ bagregistratie.besluit }}
{% endblock title %}

{% block content %}
   <!-- ***** Breadcrumb Area Start ***** -->
   <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="{% url 'site-basis:home' %}"><i class="fa fa-home"></i> Home</a> / <a href="{% url 'geoworkflow:all-bagregistraties' %}"> Bagregistraties</a> / {{ bagregistratie.besluit }}
      </div>
      <hr>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->
  <div class="container">
    Besluit: {{ bagregistratie.besluit }} <br>
    Gemeente: {{ bagregistratie.gemeente }} <br>
    Straat: {{ bagregistratie.straat }} <br>
    Huisnummer: {{ bagregistratie.huisnummer }} <br>
    <h2>Notities:</h2>
    <hr>
    <!-- list all notities for this bagregistratie -->
    {% if not bagregistratie.notities.all %}
      Er zijn nog geen notities.. 
      <br><br>
    {% else %}
      {% for notitie in bagregistratie.notities.all %}
        title: {{ notitie.title }} - datum: {{ notitie.date_added }} - <strong>type: {{ notitie.type }}</strong>
        <br>
        Notitie: {{ notitie.body }}
        <hr>
        <br>
      {% endfor %}
      <br>
      aantal notities: {{ aant_notities }}
      <br>
    {% endif %}
    {% if user.is_authenticated %}
      <a href="{% url 'geoworkflow:add-notitie' bagregistratie.pk %}" class="btn btn-secondary">Add Notitie</a>
      <br><br>
    {% else %}
      <a href="{% url 'geoworkflow:add-notitie' bagregistratie.pk %}">Login</a> to add notie.
    {% endif %}
    <br>
    <a href="{% url 'geoworkflow:all-bagregistraties' %}" class="btn btn-secondary">Terug <i class="fas fa-solid fa-arrow-left"></i></a>
  </div>
{% endblock content %}