<!-- geoworkflow/templates/geoworkflow/show_bagregistratie.html -->

{% extends 'base.html' %}

{% block title %}
  {{ bagregistratie.besluit }}
{% endblock title %}

{% block content %}
   <!-- ***** Breadcrumb Area Start ***** -->
   <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="{% url 'site-basis:home' %}"><i class="fa fa-home"></i> Home</a> / <a href="{% url 'geoworkflow:all-bagregistraties' %}"> Bagregistraties</a> / {{ bagregistratie.besluit }}
      </div>
      <hr>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->
  <div class="container">
    Besluit: {{ bagregistratie.besluit }} <br>
    Gemeente: {{ bagregistratie.gemeente }} <br>
    Straat: {{ bagregistratie.straat }} <br>
    <br>
    Notitie(s):
    <br>
    {% for notitie in bagregistratie.notities.all %}
      - {{ notitie.title }} : {{ notitie.body }}
      <br>
    {% endfor %}
    <br>
   
    <a href="{% url 'geoworkflow:all-bagregistraties' %}" class="btn btn-secondary">Terug <i class="fas fa-solid fa-arrow-left"></i></a>
  </div>
{% endblock content %}