<!-- contacts/templates/contacts/index.html -->

{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title|title }}{% endblock title %}

{% block css_files %}
{% endblock css_files%}

{% block content %}
  <br>
  <h3 class= "mb-4 text-primary">Contactenbeheer</h3>
  <br>
  <p>contacten toevoegen</p>
  <div id="contact-forms">
    {% include 'contacts/partials/form.html' %}
  </div>
  <div class="my-4">
    <button type="button" class="btn btn-success me-2"
      hx-get="{% url 'contacts:create-contact' %}"
      hx-target="#contact-forms"
      hx-swap="beforeend">+ Add contact
    </button>
    <button type="button" class="btn btn-primary" id="submit-all"> Submit all
    </button>
  </div>
  
  <h3 class= "text-primary">Contactenlijst</h3>
  <ul id="contact-list">
    {% for contact in contacts %}
      {% include 'contacts/partials/contact.html' %}
    {% endfor %}
  </ul>
{% endblock content %}
