<!-- templates/includes/navbar.html -->

{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Logo 
  <a class="nav-brand" href="{% url 'site-basis:home' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>-->
<!-- buttons -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <!-- Linkerkant van de Navbar -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'site-basis:home' %}">Home </a>
      </li> 
      <!-- Verwerkingen menu -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Verwerkingen
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'verwerkingen:index' %}">Verwerkingen Index</a></li>
          <li><a class="dropdown-item" href="{% url 'verwerkingen:all-verwerkingen' %}">All Verwerkingen</a></li>
          <li><a class="dropdown-item" href="{% url 'verwerkingen:all-verwerkingen-mavim' %}">Mavim Verwerkingen</a></li>
          {% if user.is_authenticated %}
            <li><a class="dropdown-item" href="{% url 'rechten:all-rollen' %}">Rollen</a></li>
            {% if user.is_superuser %}
              <li><a class="dropdown-item" href="{% url 'rechten:all-rechten' %}">Rechten</a></li>
            {% endif %}
          {% endif %}
        </ul>
      </li>
      <li class="nav-item"><a class="nav-link" href="{% url 'algoritmes:all-algoritmes' %}">Algoritmes</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'waarmerken:index' %}">Waarmerken</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'bronnen:index' %}">Zoeksysteem</a></li>
       <!-- Geoworkflow menu -->
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Geoworkflow
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'geoworkflow:index' %}">Geoworkflow Index</a></li>
          <li><a class="dropdown-item" href="{% url 'geoworkflow:all-bagregistraties' %}">Bagregistraties</a></li>
          <li><a class="dropdown-item" href="{% url 'geoworkflow:add-bagregistratie' %}">add-bagregistratie</a></li>
        </ul>
      </li>
       <!-- Reserveren menu -->
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Reserveren
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'reserveren:maak-reservering' %}">Multiform</a></li>
          <li><a class="dropdown-item" href="{% url 'reserveren:preview' %}">preview form</a></li>
        </ul>
      </li>
       <!-- Contacts menu -->
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Contactenlijst
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'contacts:index' %}">Contacten</a></li>
          <li><a class="dropdown-item" href="{% url 'contacts:index' %}">Contacten</a></li>
        </ul>
      </li>
    </ul>

    <!-- Rechterkant van de Navbar -->
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item"><a class="nav-link" href="{% url 'site_basis:about' %}">About</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'site_basis:contact' %}">Contact</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'site_basis:privacy' %}">Privacy</a></li>
      <!-- Usermanagement -->
      {% if user.is_authenticated %}
      <li class="nav-item dropdown dropstart">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ user.username }}
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'users:edit_usersettings' %}">Edit Settings</a></li>
          <li><a class="dropdown-item" href="{% url 'users:change_password' %}">Change password</a></li>
          {% if user.userprofile.id %}
                <a class="dropdown-item" href="{% url 'users:edit-profile' user.userprofile.id %}">Edit Profile</a>
                <a class="dropdown-item" href="{% url 'users:show-profile' user.userprofile.id %}">Show Profile</a>
              {% else %}
                <a class="dropdown-item" href="{% url 'users:create-profile' %}">Create Profile</a>
              {% endif %}
          <li><a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a></li>
        </ul>
      </li>              
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:register' %}">Register</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
