<!-- verwerkingen/templates/verwerkingen/show_verwerker.html -->

{% extends 'base.html' %}

{% block title %}
  {{ verwerker.naam }}
{% endblock title %}

{% block content %}
   <!-- ***** Breadcrumb Area Start ***** -->
   <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="{% url 'site-basis:home' %}"><i class="fa fa-home"></i> Home</a> / <a href="{% url 'verwerkingen:all-verwerkers' %}"> Verwerkers</a> / {{ verwerker.naam }}
      </div>
      <hr>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->
  <div class="container">
    Verwerker: {{ verwerker.naam }} <br>
    Beschrijving: {{ verwerker.beschrijving }} <br>
    <br>
    Verwerkersovereenkomst(en):
    <br>
    {% for verwerkersovereenkomst in verwerker.verwerkersovereenkomsten.all %}
    <a href="{{ verwerkersovereenkomst.get_absolute_url }}">{{ verwerkersovereenkomst.naam }}</a>; {{ verwerkersovereenkomst.beschrijving }}<br>
      {% for verwerking in verwerkersovereenkomst.verwerkingen.all %}
        -  <a href="{{ verwerking.get_absolute_url }}">{{ verwerking.naam }}</a>,
      <br> 
      {% endfor %}
      <br>
    {% endfor %}
    <br>
    {% if user.is_authenticated %}
      <br>
      <a href="{% url 'verwerkingen:update-verwerker' verwerker.pk %}?next={{request.get_full_path}}" class="btn btn-secondary" >Edit <i class="fas fa-edit"></i></a>
      <a href="{% url 'verwerkingen:delete-verwerker' verwerker.pk %}" class="btn btn-secondary" >Delete <i class="fas fa-trash-alt"></i></a>
    {% endif %}
    <a href="{% url 'verwerkingen:all-verwerkers' %}" class="btn btn-secondary">Terug <i class="fas fa-solid fa-arrow-left"></i></a>
  </div>
{% endblock content %}