<!-- contacts/templates/contacts/partials/form.html -->

<form
  hx-post="{% url 'contacts:create-contact' %}"
  hx-target="#contact-list"
  hx-swap="beforeend"
  hx-on="htmx:afterRequest: this.remove()">
  <div class="row">
    <div class="col-4 col-md-3">
      <label for="{{ for.name.id_for_label }}">{{ form.name.label }}</label>
      {{ form.name }}
    </div>
    <div class="col-4 col-md-3">
      <label for="{{ for.phone.id_for_label }}">{{ form.phone.label }}</label>
      {{ form.phone }}
    </div>
    <div class="col-3 align-self-end">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </div>
</form>